p, span, a, div, h5, h6 {
  color: #505050;
  font-family: $fonte-corpo;
}

h1, h2, h3, h4 {
  font-family: $fonte-titulo;
  line-height: 1.1;
  color: $cor-preto-300;
}

h1 {
  font-size: $h1;
  font-weight: 700;
}

h2 {
  font-size: $h2;
  font-weight: 700;
}

h3 {
  font-size: $h3;
  font-weight: 600;
}

h4 {
  font-size: $h4;
  font-weight: 500;
  text-transform: uppercase;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}