$fonte-corpo: "PT Serif", serif;
$fonte-titulo: "Work Sans", sans-serif;

$h1: 51px;
$h2: 40px;
$h3: 30px;
$h4: 24px;
$h5: 16px;
$h6: 13px;

$gut0: 7.5px;
$gut1: 15px;
$gut2: 30px;
$gut3: 45px;
$gut4: 60px;

$cor-primaria-100: #6ED5A6;
$cor-primaria-200: #44C088;
$cor-primaria-300: #25B071;
$cor-primaria-400: #05A15A;
$cor-primaria-500: #007C44;

$cor-secundaria-100: #FFA584;
$cor-secundaria-200: #FF875A;
$cor-secundaria-300: #FF6B35;
$cor-secundaria-400: #E94407;
$cor-secundaria-500: #B33000;

$cor-branco-100: #FFFFFF;
$cor-branco-200: #F0F4F3;
$cor-branco-300: #D5E3DD;
$cor-branco-400: #B2CBC0;
$cor-branco-500: #8AAF9E;

$cor-preto-100: #09623A;
$cor-preto-200: #004B29;
$cor-preto-300: #00341C;
$cor-preto-400: #002112;
$cor-preto-500: #000F08;

@mixin mq($tamanho) {
  @if $tamanho == muito_grande {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  @if $tamanho == grande {
    @media screen and (min-width: 980px) {
      @content;
    }
  }
  @else if $tamanho == medio {
    @media screen and (max-width: 979px) {
      @content;
    }
  }
  @else if $tamanho == pequeno {
    @media screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $tamanho == muito_pequeno {
    @media screen and (max-width: 569px) {
      @content;
    }
  }
}