@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Work+Sans:400,500,600,700&subset=latin-ext');

@import "variaveis", "elementos", "grid";

.container {
  max-width: 1200px;

  @media screen and (min-width: 1192px) {
    width: 100%;
  }
}

.hero-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  align-items: flex-end;
  display: flex;

  @include mq(grande) {
    align-items: center;
    background-image: url("../img/bg-banner.jpg");
  }

  @include mq(medio) {
    background-image: url("../img/bg-banner_mobile@1x__opt.jpg");
  }

  @include mq(pequeno) {
    background-image: url("../img/bg-banner_mobile@1x__opt.jpg");
  }

  @media screen and (max-width: 400px) {
    position: relative;

    &:before {
      content: '';
      background-color: rgba($cor-branco-200, .5);
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.bold-title {
  font-size: $h1;
  text-align: left;

  @include mq(pequeno) {
    font-size: $h3;
  }
}

.subtitle {
  color: $cor-branco-500;
  font-family: $fonte-corpo;
  font-size: $h4!important;

  @include mq(pequeno) {
    font-size: 18px!important;
  }
}

.social-icons {
  padding: 0;

  a {
    display: inline-block;
    margin: 0 $gut1;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.hero-foot {
  display: none;
}

.hero + .section {
  display: none;
}