<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer">
{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

<title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "/" }}
    {{ .Site.Title }} | {{ .Site.Params.tagLine }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} | {{ .Site.Params.description }}{{ end }}
{{ end }}
</title>
<link rel="canonical" href="{{ .Permalink }}">

<!-- HTTPS -->

{{ if .Site.Params.enforce_ssl }}
<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>
{{ end }}

<!-- jQuery -->
<script type="text/javascript" src="{{ "/js/jquery-3.3.1.min.js" | relURL }}"></script>

<!-- Fonts and icon CSS -->
<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">

{{ if .Site.Params.cacheBuster }}
    <link rel="stylesheet" href="{{ (printf "css/%s-style.css?t=%d" (.Site.Params.themeStyle | default "dark") now.Unix) |relURL }}">
{{ else }}
    <link rel="stylesheet" href="{{ (printf "css/%s-style.css" .Site.Params.themeStyle | default "dark") | relURL }}">
{{ end }}

<!-- Custom css -->
{{ range .Site.Params.customCSS -}}
    <link rel="stylesheet" href="{{ . | relURL }}">
{{- end }}

<!-- Icon -->
<link rel="shortcut icon" href="{{ .Site.Params.faviconFile | default "img/favicon.ico" | relURL }}">

<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

</head>
